*{
    box-sizing: border-box;
    font-family:sans-serif;
    color: rgba(40, 40, 40);
}

html, body{
    margin: 0;
    padding: 0;
}   

.main-header{
    background-color: rgba(0,0,0,.3);
    padding-bottom: 30px;
}

.nav{
    position: fixed;
    width: 100%;
    margin: 10px;
}

.nav ul{
    margin: 0;
}

.nav li{
    display: inline;
}

.nav a{
    display: inline-block;
    color: whitesmoke;
    text-decoration: none;
    padding: 0.5em;
}

.nav a:hover{
    background-color: rgba(0,255,255,.3);
}

.main-nav{
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    border-bottom: 1px solid rgba(255,255,255,.8);
}

#welcome-section{
    background-image: url(../images/header-background.jpg);
    background-blend-mode: multiply;
    background-size: cover;
}

.band-logo{
    text-align: center;
    margin: 0;
    color: whitesmoke;
    font-size: 3em;
    font-family: Papyrus;
}

.band-logo-large{
    font-size: 8em;
}

.project1{
    background-color: blue;
    height: 350px;
}
.project2{
    background-color: violet;
    height: 350px;
}

.project3{
    background-color: red;
    height: 350px;
}

.main-footer{
    background-color: rgb(46, 88, 204);
    padding: .25em 0;
}

#footer{
    background-color: blueviolet;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.main-foot-container{
    display: flex;
    align-items: center;
}

.main-foot-container ul{
    flex-grow: 1;
    text-align: end;
}

.footer-nav{
    padding: 0 .5em;
}

/* .section-content{
    margin: 1em; 
} */
.section-header{
    font-size: 2em;
    color: rgb(0, 0, 0);
    font-family: Papyrus;
    font-weight: bold;
    text-align: center;
}

.about-band-image{
    float: left;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 15px;

}